fuzzywuzzy
python-Levenshtein
pandas
seaborn
matplotlib
openpyxl
streamlit
spacy
spacy-lookups-data
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz

